div(data-ng-show="tab==2")
  div.full-menu-container
    div(data-ng-repeat="(cat,dishes) in rest.menu_cats")
      div.row.full-menu-category
        h1 {{cat}}
      div.full-menu-row(data-ng-repeat="dish in dishes|orderBy: dish.name")
        div
          div.row(data-ng-click="rest.selected = dish.name")
            div.dish-type-container
              div.dish-type(data-ng-class="dish.category")
            div.dish
              div.dish-summary
                h1.dish-name {{ dish.name }}
                h2.dish-price {{ dish.price | currency }}
              div.dish-description.animate-show(data-ng-show="rest.selected === dish.name")
                p {{ dish.description }}
              div.favorite-container(data-ng-click="favoriteToggle(dish);")
                div.favorite(data-ng-class="{ liked : dish.favorited }")