//- RESTAURANT VIEW
div.page(data-ng-controller="RestaurantController as c", data-ng-show="currPage === 'restaurant'")
    div(data-ng-repeat="rest in c.restaurants|orderBy: rest.distance")
      div(ng-if="rest.show")
        div.restaurant-container.row
          h1.restaurant-name {{ rest.name }}
        div.dish-container
          div.dish-container-child(data-ng-repeat="dish in rest.dishes|orderBy: -dish.likes|limitTo: 5")
            div.row(data-ng-click="rest.selected = dish.name")
              div.dish-type-container
                div.dish-type(data-ng-class="dish.category")
              div.dish
                div.dish-summary
                  h1.dish-name {{ dish.name }}
                  h2.dish-price {{ dish.price | currency }}
                div.dish-description.animate-show(data-ng-show="rest.selected === dish.name")
                  p {{ dish.description }}
                div.favorite-container(data-ng-click="favoriteToggle(dish);")
                  div.favorite(data-ng-class="{ liked : dish.favorited }")
    a(href='#' ng-click="showDetails = ! showDetails"): div.wrong-restaurant-bar
      p Not at this restaurant? Pick another one...
    div.modal(ng-show="showDetails")
      h3 Nearby Restaurants
      div(data-ng-repeat="rest in c.restaurants")
        a(href='#' ng-click="showRest(rest._id)" ): p {{rest.name}} - {{ rest.distance }} meters away 