
//- RESTAURANT VIEW
div.page(data-ng-controller="RestaurantController as c", data-ng-show="currPage === 'restaurant'")
  
    div.restaurant-container.row
      h1.restaurant-name {{ c.restaurant.name }}
    div.dish-container
      div(data-ng-repeat="dish in c.restaurant.dishes|orderBy: dish.likes")
        div(data-ng-class=" c.restaurant.first === dish ? 'row-first' : (c.restaurant.second === dish ? 'row-second' : (c.restaurant.third === dish ? 'row-third' :(c.restaurant.fourth === dish ? 'row-fourth' : (c.restaurant.fifth === dish ? 'row-fifth' : 'row' )))) ")
          div.dish-type-container
            div.dish-type(data-ng-class="{{ dish.type }}")
          div.dish
            div.dish-summary(data-ng-click="c.restaurant.selected = dish")
              h1.dish-name {{ dish.name }}
              h2.dish-price {{ dish.price | currency }}
            div.dish-description.animate-show(data-ng-show="c.restaurant.selected === dish")
              p {{ dish.description }}
            div.favorite-container
              div.favorite(data-ng-class="{ liked: dish.favorited }", data-ng-click="favoriteToggle(c.restaurant, dish);")
