//- RESTAURANT VIEW
div.page(data-ng-controller="RestaurantController as c", data-ng-show="currPage === 'restaurant'", data-ng-init="tab = 1")
    div(data-ng-repeat="rest in c.restaurants|orderBy: rest.distance")
      div(data-ng-if="rest.show")

        include navbar

        include topFive

        include fullMenu       

        include restaurantPicker