html(lang='en')
head
    link(rel='stylesheet', href='css/style.css')
  body
    .swiper-container
      .swiper-wrapper
        .swiper-slide.two
          img(src='images/1.png')
        .swiper-slide.one
          img(src='images/2.png')
        .swiper-slide.three
          img(src='images/3.png')
        .swiper-slide.four
          img(src='images/4.png')
        .swiper-slide.five
          a(href='home.html')
            img(src='images/5.png')
      script(src='js/swipe.js')
