body#splash
  div(data-ng-show="currPage === 'splash'")
    script(type='text/javascript').
      window.onload = function() {
        var mySwiper = new Swiper('.swiper-container',{
          //Your options here:
          mode:'horizontal',
          loop: true
          //etc..
        });  
      }
    div.swiper-container
      div.swiper-wrapper
        div.swiper-slide.two
          img#splsh(src='images/1.png')
        div.swiper-slide.one
          img#splsh(src='images/2.png')
        div.swiper-slide.three
          img#splsh(src='images/3.png')
        div.swiper-slide.four
          img#splsh(src='images/4.png')
        div.swiper-slide.five
          img#splsh(src='images/5.png', data-ng-click="currPage = restaurant")